Html Webpack Plugin:
<pre>
  Error: Parse Error: <%= process.env.VUE_APP_TITLE ></title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Robot  o:100,300,400,500,700,900">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest  /css/materialdesignicons.min.css">
    <link href="/js/about.d1412a96.js" rel="prefetch"><link href="/css/app.61747  bf8.css" rel="preload" as="style"><link href="/css/chunk-vendors.fbe03f33.css"   rel="preload" as="style"><link href="/js/app.1724d809.js" rel="preload" as="s  cript"><link href="/js/chunk-vendors.e24e500f.js" rel="preload" as="script"><l  ink href="/css/chunk-vendors.fbe03f33.css" rel="stylesheet"><link href="/css/a  pp.61747bf8.css" rel="stylesheet"></head>
    <body>
      <noscript>
        <strong>We're sorry but <%= process.env.VUE_APP_TITLE > doesn't work pro  perly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
      <div id="app"></div>
      <!-- built files will be auto injected -->
    <script type="text/javascript" src="/js/chunk-vendors.e24e500f.js"></script>  <script type="text/javascript" src="/js/app.1724d809.js"></script></body>
  </html>
  
  - htmlparser.js:240 new HTMLParser
    [todo-app-vue2-vuetify]/[html-minifier]/src/htmlparser.js:240:13
  
  - htmlminifier.js:966 minify
    [todo-app-vue2-vuetify]/[html-minifier]/src/htmlminifier.js:966:3
  
  - htmlminifier.js:1326 exports.minify
    [todo-app-vue2-vuetify]/[html-minifier]/src/htmlminifier.js:1326:16
  
  - index.js:316 
    [todo-app-vue2-vuetify]/[html-webpack-plugin]/index.js:316:18
  
  - task_queues.js:93 processTicksAndRejections
    internal/process/task_queues.js:93:5
  
</pre>